body {
    font-family: "Arial";
    font-size: 10vmax;
    line-height: 1;
    color: #252525;
    background-color: #fdfdfd;
    overflow: hidden;
    text-transform: uppercase;
  }
  
  .navigation {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
  }
  .navigation a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 6vmax;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 2rem;
    margin: 1rem auto;
  }
  .navigation a:hover {
    background-color: #252525;
    color: #fdfdfd;
  }
  .navigation a.active {
    background-color: #252525;
    color: #fdfdfd;
  }
  
  #page {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .container {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    inset: 0;
  }
  
  .loader {
    position: absolute;
    inset: 0;
    z-index: 5;
    background-color: #252525;
    transform: translatex(0%);
    transition: transform 0.9s cubic-bezier(0.76, 0, 0.24, 1) 0.5s;
    will-change: transform;
  }
  
  .a,
  .b,
  .c {
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
    transition-duration: 0.5s;
    transition-delay: -0.1s;
    transition-timing-function: ease-in-out;
    height: 100%;
  }
  
  .ac {
    margin: auto;
  }
  
  [data-route=c] .c, [data-route=b] .b, [data-route=a] .a {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 0.5s ease-in 0.9s;
  }
  
  .disable-hover,
  .disable-hover * {
    pointer-events: none !important;
    cursor: none;
    cursor: wait;
  }